[Unit]
Description=minecraft server service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/minecraft
Type=forking
ExecStart=/usr/bin/screen -dmS minecraft /usr/lib/jvm/java-9-openjdk-armhf/bin/java -jar -Xms850M -Xmx850M /home/pi/minecraft/paperclip.jar
ExecStop=/bin/bash /home/pi/minecraft/stop.sh
GuessMainPID=no

[Install]
WantedBy=multi-user.target