[Unit]
Description=minecraft server service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/minecraft
Type=forking
ExecStart=/bin/bash /home/pi/minecraft/start.sh
ExecStop=/bin/bash /home/pi/minecraft/stop.sh
GuessMainPID=no

[Install]
WantedBy=multi-user.target